.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
}

.App-header {
  width: 200px;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}
